<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include cv/head.html %}

<body>
  <a href="{{ site.baseurl }}/" class="back-to-portfolio-button" id="back-to-portfolio">
    <i class="fas fa-arrow-left"></i>Back to Portfolio
  </a>

  <a href="{{ site.baseurl }}/files/Jawad_Kachbal_CV.pdf" class="download-button" download="Jawad_Kachbal_CV.pdf">
    <i class="fas fa-download"></i>Download CV
  </a>

  <div class="wrapper">
    {% include cv/sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include cv/footer.html %}

{% include cv/scripts.html %}

  <!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "946c2709f5d54394a2f0c4a073ea2909"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>
