<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}

    


{% include footer.html %}
    </div>

    <!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "946c2709f5d54394a2f0c4a073ea2909"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
  </body>
</html>
